social-media-posting.json
{
  "name": "social-media-posting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "03f656b5-3f58-4f01-87cc-1d39ef9103e9",
      "name": "Zeitplan",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -736,
        144
      ]
    },
    {
      "parameters": {
        "url": "https://www.heise.de/rss/themen-ki.rdf",
        "options": {}
      },
      "id": "a9fc9f33-3c91-4476-8ae8-0cb532ef8624",
      "name": "RSS Feed Scraper",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -528,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.title + $json.contentSnippet }}",
              "operation": "regex",
              "value2": "KI|Ethik|Gesellschaft|AI|Ethics|Society"
            }
          ]
        }
      },
      "id": "dc26e415-3f9f-4c0f-9bb7-33ad8b7a6117",
      "name": "Relevanz Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -304,
        144
      ]
    },
    {
      "parameters": {},
      "id": "05c783d1-17fb-4de4-b5fa-97bba27d2763",
      "name": "Texte generieren",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        32
      ]
    },
    {
      "parameters": {},
      "id": "f3508ecd-9ab8-4032-badc-efee99fa8797",
      "name": "Bild generieren",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        144,
        32
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "DEINE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": "Sheet1",
        "options": {}
      },
      "id": "b637bbd3-a00c-4ab2-a289-58920cefc7de",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        368,
        32
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Zeitplan": {
      "main": [
        [
          {
            "node": "RSS Feed Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Scraper": {
      "main": [
        [
          {
            "node": "Relevanz Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e510c95e-ac98-4402-916d-4284028c266b",
  "meta": {
    "instanceId": "b616ba1d221c29f342a144b3696fe2da47e1e6c645de24f13d7d8cad2adaac15"
  },
  "id": "56xy0WkI6GVsTkyhVWVe0",
  "tags": []
}